<!-- cart.component.html -->
<section id="cart">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="cart-heading text-center">
          <h2 class="mb-3">Shopping Cart</h2>
        </div>
        <div class="cart-container">
          <div class="row">
            <div class="col-md-4" *ngFor="let product of products">
              <div class="card">
                <img *ngIf="product.productImage" [src]="product.productImage.storageImageUrl" alt="Product Image" class="card-img-top" style="height: 200px;">
                <div class="card-body">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text">{{ product.price }}</p>
                  <p class="card-text">{{ product.description }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Adding Total tag with bold and bigger font -->
        <div class="total-tag">
          <p style="font-weight: bold; font-size: 1.0em;">Total: <!-- Add total value here --></p>
        </div>

        <!-- Remove All button -->
        <div class="remove-all-btn">
          <button type="button" class="btn btn-danger" (click)="onRemoveAll()">
            Remove All
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
